.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 40px;
    display: inline-block;
    font-size: 25px;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow:
        0px 10px 20px rgba(0, 0, 0, .3)
}

.btn:active:hover {
    transform: translateY(-1px);
    box-shadow:
        0px 5px 10px rgba(0, 0, 0, .3)
}

.btn-white {
    color: #000000;
    background-color: #fff;
}

.btn-white::after {
    background-color: rgb(211, 211, 211);
}

.btn::after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    position: absolute;
    z-index: -1;
    transition: all .5s;
    border-radius: 100px;
}

.btn:hover::after {
    transform: scaleX(1.5) scaleY(1.4);
    opacity: 0;
}