@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Kaushan+Script&family=Monoton&family=Tangerine:wght@700&display=swap');

/*
    font-family: 'Gloria Hallelujah', cursive;

    font-family: 'Kaushan Script', cursive;

    font-family: 'Monoton', cursive;

    font-family: 'Tangerine', cursive;
*/

:root {
    --bg-valid: green;
    --color-valid:white;
    --bg-invalid: #ff004c;
    --color-invalid: #f8f0fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 70px;
    background-color: rgb(6, 219, 129);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.logo-top {
    height: 60px;
    margin-right: 30px;
}

.logo {
    filter: invert(100);
}

.top-text {
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Monoton', cursive;
    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Tangerine', cursive; */
}

.container {
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(204, 204, 204, 0.493);
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 8px;
}

ol {
    list-style: none;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

li {
    border: 1px solid rgb(182, 181, 181);
    padding: 5px 0;
    border-radius: 5px;
}

.list-p {
    font-size: 25px;
    text-align: center;
}

.border-radius {
    border-radius: 12px;
}

.more-info-text {
    font-size: 18px;
    text-align: left;
    display: inline-block;
}

.valid {
    float: right;
    background-color: var(--bg-valid);
    color: var(--color-valid);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.valid::before {
    content: "HTML:5";
}

.invalid {
    float: right;
    background-color: var(--bg-invalid);
    color: var(--color-invalid);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.invalid::before {
    content: "Invalid in HTML 5";
}

.more-info-text a:link,
.more-info-text a:visited {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 3px 6px;
    border-radius: 2px;
}


/* ************************************ */

.toolbar-item button {
    color: white !important;
    padding: 10px !important;
    margin: 20px 30px 0 0 !important;
    font-size: 20px !important;
    cursor: pointer !important;
}