@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaushan+Script&display=swap');


/*
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Tangerine', cursive;


    font-family: 'Dancing Script', cursive;

*/

:root {
    --bg-valid: green;
    --color-valid:white;
    --bg-invalid: #ff004c;
    --color-invalid: #f8f0fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 70px;
    background-color: rgb(6, 219, 129);
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.logo-top {
    height: 60px;
    margin-right: 30px;
}

.logo {
    filter: invert(100);
}

.top-text {
    font-size: 30px;
    text-transform: capitalize;
    /* font-family: 'Monoton', cursive; */
    font-family: 'Kaushan Script', cursive;
    /* font-family: 'Gloria Hallelujah', cursive; */
    /* font-family: 'Tangerine', cursive; */
}

.container {
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(204, 204, 204, 0.493);
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 8px;
}

ol {
    list-style: none;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

li {
    border: 1px solid rgb(182, 181, 181);
    padding: 5px 0;
    border-radius: 5px;
}

.list-p {
    font-size: 25px;
    text-align: center;
}

.border-radius {
    border-radius: 12px;
}

.more-info-text {
    font-size: 18px;
    text-align: left;
    display: inline-block;
}

.valid {
    float: right;
    background-color: var(--bg-valid);
    color: var(--color-valid);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.valid::before {
    content: "Valid in HTML 5";
}

.invalid {
    float: right;
    background-color: var(--bg-invalid);
    color: var(--color-invalid);
    padding: 2px 5px;
    border-radius: 3px;
    margin-right: 10px;
}

.invalid::before {
    content: "Invalid in HTML 5";
}

.more-info-text a:link,
.more-info-text a:visited {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 3px 6px;
    border-radius: 2px;
}

@media screen and (max-width:500px) {
    .top-text {
        font-size: 18px;
    }

    .logo-top {
        height: 40px;
        margin-right: 15px;
    }
}

@media screen and (max-width:600px) {
    main, .div-tablet {
        display: none;
    }
}

@media screen and (min-width:601px) and (max-width:850px){
    main {
        display: none;
    }

    .div-mobile {
        display: none;
    }
}

@media screen and (min-width:851px) {
    .div-mobile, .div-tablet {
        display: none;
    }
}

.div-mobile-p {
    text-align: justify;
    margin: 10px 20px;
    /* background-color: rgb(223, 223, 223); */
    font-size: 20px;
}

.wel-dev {
    font-size: 25px;
    display: block;
}

.mobile-thank {
    display: block;
}

.mobile-thank::after {
    content: "☺";
}

.wel-dev-tab {
    font-size: 34px;
}

.div-tablet-p {
    text-align: justify;
    font-size: 25px;
    margin: 20px;
}

footer {
    /* height: 100px; */
    /* background-color: rgb(2, 55, 155); */
    /* background-color: liner-grident(); */
    background-image: linear-gradient(to right bottom, #4B0082, #13274F);
    margin-top: 20px;
    text-align: center;
    /* padding-bottom: 25px; */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 100px;
    /* border-bottom-left-radius: 100px; */
}

/*
.f-c {
    width: 50%;
    text-align: center;
}

.w-edit {
    width: 50%;
} 
*/
.btn:link,
.btn:visited {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid rgb(0, 255, 200);
    text-transform: capitalize;
}

.footer-p {
    font-size: 20px;
    color: #fff;
    /* margin: 18px 0; */
    background-image: linear-gradient(to right bottom, #9603ff, #010b20);
    padding: 10px 15px;
    border-radius: 8px;
}

.footer-p:not(:last-child) {
    margin-bottom: 12px;
}

.c-red {
    color: red;
}

a[href="https://diptenu.me"] {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
    font-size: 25px;
}

.preview {
    text-align: center;
    background-color: rgb(156, 156, 156);
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 8px;
    /* border: 1px solid red; */
}

.preview-img {
    height: 50px;
}


.preview-img:not(:first-child) {
    filter: invert(100);
    /* background: blue; */
}

.ex-padding {
    padding: 20px 0px;
}

/* ************************************ */

.toolbar-item button {
    color: white !important;
    padding: 10px !important;
    margin: 20px 30px 0 0 !important;
    font-size: 20px !important;
    cursor: pointer !important;
}